@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Google Fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

/* === Global === */
body {
  font-family: 'Noto Sans KR';
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
  color: #111;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
